{% extends 'base.html.twig' %}

{% block stylesheets %}

    <!-- <script src="http://cdn.leafletjs.com/leaflet-0.7.3/leaflet.js"></script>
    <link rel="stylesheet" href="{{ asset('node_modules/leaflet/dist/leaflet.css') }}"/>
    <script src="{{ asset('node_modules/leaflet/dist/leaflet.js') }}"></script> -->


    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"></script>





{% endblock %}

{% block title %}Hello OpenstreetmapController!{% endblock %}

{% block body %}



    <h1>Hello {{ controller_name }}! ✅</h1>

    Affichage de la carte :


    <div id="map" style="height: 400px"></div>



    {% block javascripts %}

    <script src="{{ asset('js/recup-verre.geojson') }}"></script>

    <script>



        window.onload = function () {
            console.log('Page chargée ');

            var map = L.map('map').setView([43.6005, 1.3472], 11);
            var titleStreets = L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
                maxZoom: 18,
                id: 'mapbox.streets',
                accessToken: 'pk.eyJ1IjoiMTY5NTciLCJhIjoiY2pzcHhodDB5MHF4YjQzbzA3dHByb3V2ZiJ9.CiBSDPowlgXwoiRjIlhTKg'
            }).addTo(map);

            // création d’une couche geoJson qui appelle le fichier « recup-verre.geojson »
            var verre= $.getJSON("recup-verre.geojson",function(dataVerre)
            // icone benne
            {var iconeVERRE = L.icon({
                iconUrl : {{ asset('img/verre.png') }},
                iconSize : [19, 21]
            });
            // fonction pointToLayer qui ajoute la couche « verre » à la carte, selon la symbologie « iconeVERRE », et paramètre la popup
                L.geoJson(dataVerre,{
                    pointToLayer : function(feature,latlng){
                        var marker = L.marker(latlng,{icon: iconeVERRE});
                        marker.bindPopup('<b><u>Description du cinéma</u></b><br>'
                        + '<b>Commune:</b>'+ feature.properties.communes + '<br>'
                        + '<b>Adresse : </b>' + feature.properties.adresse + '<br>'
                        + '<b>Code commune : </b>' + feature.properties.code_com + '<br>'
                    );
                        return marker ;
                    }
                }).addTo(map);
            });


            // var marker = L.marker([43.66748069690011, 1.427829654237054]).addTo(map);

        }




    </script>
    {% endblock %}


{% endblock %}


