<h1>Page Front</h1>

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Yop{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}

    <h1>{{ 'menu.titre'|trans }}</h1>

    <h3>{{ 'carte.titre'|trans }}</h3>
    <p> {{ 'carte.partenaire'|trans }}</p>

    <h3> {{ 'description.titre'|trans }}</h3>
    <p><{{ 'description.collecte'|trans}}/p>
    <h3>{{ 'description.titre2'|trans }}</h3>
    <p> {{ 'description.deposer'|trans }}</p>
    <p>{{ 'description.circuit'|trans }}</p>

    <h3>{{ 'contact.contact'|trans }}</h3>

    <ul>
        <li><a href="#">{{ 'footer.link1'|trans }}</a></li>
        <li><a href="#"> {{ 'footer.link2'|trans }}</a></li>
        <li><a href="#"> {{ 'footer.link3'|trans }}</a></li>
        <li><a href="#"> {{ 'footer.link4'|trans }}</a></li>
    </ul>



{% endblock %}

{% block javascripts %}{% endblock %}
</body>
</html>
