{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <style>
        .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
        .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    </style>
    <script src="{{ asset('json/recup.js') }}"></script>
    <script>
    var botmanWidget = {
        frameEndpoint: '/chat'
    };
  </script>
  <script src='{{ asset('widget.js') }}'></script>




    <!-- Navigation -->
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <img class="header" src="{{ asset('img/LOGO1.png') }}">
        </div>
    </nav>

    <!-- Affichage carte -->
    <div class="container">
        <div class="row">
            <div class="col-xl-9 mx-auto">
                <h3>COLLECTE DU VERRE</h3>
                <p>En partenariat avec Eco-Emballages, Toulouse Métropole accélère son programme d'installation de récup'verre.</p>
            </div>
        </div>
    </div>



    <!-- Affichage carte -->
    <div class="container">

        {% include "openstreetmap/openstreetmap.html.twig" %}




    </div>



    <!-- Description -->
    <section class="description">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="description-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <h5>Trouver la borne la plus proche de chez vous à Toulouse</h5>
                        <p>La collecte du verre s'effectue en apport volontaire. Il appartient à chacun de déposer bouteilles
                            et bocaux dans les conteneurs verts, installés dans de nombreux endroits de la ville</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="description-item mx-auto mb-5 mb-lg-0 mb-lg-3">
                        <h5>Que déposer dans la borne à verre ?</h5>
                        <p> Les bouteilles, pots, bocaux sans capsule, ni bouchon. </p>
                        <img class="verre" src="{{ asset('img/verre.png')}}">

                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="description-item mx-auto mb-0 mb-lg-3">
                        <h5>Le circuit du verre : destination Albi</h5>
                        <img class="circuit" src="{{ asset('img/circuit.jpg')}}">
                    </div>
                </div>
            </div>
        </div>
    </section>



    <!-- Call to Action -->
    <section class="contact text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h2 class="mb-4 text-white">Contactez nous ? </h2>
                </div>
                <div class="col-md-10 col-lg-8 col-xl-7 mx-auto">


                    {{ form_start(form) }}
                    {{ form_row(form.admin) }}

                    {{ form_row(form.referent) }}
                    <div id="test">

                    </div>
                    {{ form_row(form.email) }}
                    {{ form_row(form.objet) }}
                    {{ form_row(form.message) }}



                    <input type="submit" value="Envoyer" id="send" class="btn btn-lg bg-success mt-2 text-white">

                    {% for message in app.flashes('success') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}
                    {% for message in app.flashes('success2') %}
                        <div class="alert alert-success">
                            {{ message }}
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
    </section>


    <!-- Footer -->
    <footer class="footer bg-light">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <ul class="list-inline mb-2">
                        <li class="list-inline-item">
                            <a href="#">A propos</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Contact</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Conditions d'utilisations</a>
                        </li>
                        <li class="list-inline-item">&sdot;</li>
                        <li class="list-inline-item">
                            <a href="#">Politique de confidentialité</a>
                        </li>
                    </ul>
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Green World 2019. Tous droits réservés.</p>
                </div>
            </div>
        </div>
    </footer>






{% endblock %}

{% block javascripts %}

    <script>
        $('#contact_referent').click(function(){
            cochee = $(this).is(':checked');


            if (cochee === true) {
                $(function(){
                    $.ajax({

                        cache: false,
                        success: function() {
                            $("#test").append('{{ form_row(form.ville) }}');

                        },
                        error: function(XMLHttpRequest,textStatus, errorThrown){
                            alert(textStatus);
                        },
                    });
                    return false;
                });
            }

            else {
                $(function(){
                    $("#test").empty();

                    return false;
                });
            }

        });








    </script>


{% endblock %}
