{% extends '@SonataAdmin/standard_layout.html.twig' %}

{% block sonata_nav %}
{% endblock sonata_nav %}

{% block logo %}
{% endblock logo %}

{% block sonata_left_side %}
{% endblock sonata_left_side %}

{% block body_attributes %}class="sonata-bc login-page"{% endblock %}

{% block sonata_wrapper %}
    <div class="login-box">
        <div class="login-logo">
            <a href="{{ path('sonata_admin_dashboard') }}">
                <span>Activer la double authentification</span>
            </a>
        </div>
        <div class="login-box-body">

                <!--<p class="login-box-msg">{{ 'Authentication'|trans }}</p>-->
                {{ form_start(form) }}

                    <div class="form-group has-feedback text-center">
                        <img src="{{ url }}" />
                    </div>
                    <div class="form-group has-feedback">
                        {{ form_widget(form.code, { 'attr': {'class': 'form-control', 'placeholder': 'Code double authentification'} }) }}
                    </div>

                    <div class="row">
                        <div class="col-xs-4">
                            {{ form_widget(form.save, { 'attr': {'class': 'btn btn-primary btn-block btn-flat'}} ) }}
                        </div>
                    </div>
                {{ form_end(form) }}
        </div>
    </div>
{% endblock sonata_wrapper %}